body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.display {
    background-color: #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
    text-align: right;
    border-radius: 4px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    padding: 20px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #d0d0d0;
}

.operation {
    background-color: #f9a825;
}

.operation:hover {
    background-color: #c17900;
}

.equals {
    grid-column: span 2;
    background-color: #66bb6a;
}

.equals:hover {
    background-color: #388e3c;
}

.zero {
    grid-column: span 2;
}
